@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: Inter, Arial, sans-serif;
}

body{
    background-image: url("/image/bg.png");
}

h1{
    color: black;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

pre{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

/* p{

}
